.app {
  text-align: center;
  display: grid;
  justify-content: center;
}
.list {
  display: flex;
  margin-bottom: 20px
}

.post {
  border: 1px solid #ddd;
  width: 200px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
}